{% if page.categories and page.categories != empty %}
  <nav class="breadcrumbs">
   <ul>
    <li>
      <a href="/">
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="{{ site.url }}/{{ page.categories | first }}.html">
        <span>{{ page.categories | first | replace: '-',' ' | capitalize }}</span>
      </a>
    </li>
    <li>
      <a href="{{ site.url }}">
        <span>{{ page.title }}</span>
      </a>
    </li>
   </ul>
  </nav><!-- /.breadcrumbs -->
  <div class="clearfix">

  </div>
{% endif %}
