<div class="device-background">
  <div class="wrap">
    <div class="device-text">
      <h4>Stay Informed</h4>
      <p>Sign up or follow me on instagram to stay informed about new fishing and hunting information, as well as stories, reports, and reviews!</p>
      <a href="https://www.instagram.com/jasonswingen/" target="_blank" class="btn-accent">Follow on Instagram</a>
      <span><b> - or - </b></span>
      <a href="#subscribe" class="btn">Subscribe</a>
    </div>
    <div id="js-fadeInElement" class="fade-in-element device">
      <a href="https://www.instagram.com/jasonswingen/" target="_blank"><div class="screen"></div></a>
      <div class="snapphone">
      {% include snapwidget.html %}
      </div>
    </div>
  </div>
  <div class="mobileshow">
    {% include snapwidget.html %}
  </div>
</div>
