<div class="device-background">
  <div class="wrap">
    <div class="device-text">
      <h4>Stay Informed</h4>
      <p>Subscribe and follow me to stay informed about new fishing and hunting information, as well as stories, reports, and reviews!</p>
      <a href="https://www.instagram.com/jasonswingen/" target="_blank" class="btn-inverse">Instagram</a>
      <!-- <span><b> - or - </b></span> -->
      <a href="https://www.facebook.com/JasonSwingenOutdoors/" target="_blank" class="btn-inverse">Facebook</a>
      <a href="https://twitter.com/jasonswingen" target="_blank" class="btn-inverse">Twitter</a>
      <a href="https://www.youtube.com/channel/UCJuAVRLRC6AFV-YqN1a_6EQ" target="_blank" class="btn-inverse">Youtube</a>
      <a href="https://plus.google.com/+JasonSwingen" target="_blank" class="btn-inverse">Google+</a>
      <a href="https://www.pinterest.com/jswingen/" target="_blank" class="btn-inverse">Pinterest</a>
      <a href="#subscribe" class="btn-inverse">Subscribe</a>
    </div>
    <div id="js-fadeInElement" class="fade-in-element device">
      <a href="https://www.instagram.com/jasonswingen/" target="_blank"><div class="screen"></div></a>
      <div class="snapphone">
      {% include snapwidget.html %}
      </div>
    </div>
  </div>
  <div class="mobileshow">
    {% include snapwidget.html %}
  </div>
</div>
