<div class="social-share">
  <div class="social-share-btn"><a target="_blank" id="social-instagram" href="http://instagram.com/{{ site.owner.instagram }}" title="follow Jason Swingen Instagram">{% include svg/instagram.svg %}</a></div>
  <div class="social-share-btn"><a target="_blank" id="social-twitter" href="http://twitter.com/{{ site.owner.twitter }}" title="follow Jason Swingen on Twitter">{% include svg/twitter.svg %}</a></div>
  <div class="social-share-btn"><a target="_blank" id="social-google" href="http://plus.google.com/u/0/+{{ site.owner.googleplus }}" title="follow Jason Swingen on Google+">{% include svg/googleplus-square.svg %}</a></div>
</div>
