<footer role="contentinfo" id="site-footer">
	<nav role="navigation" class="menu bottom-menu">
		<ul class="menu-item">
			{% for link in site.data.footer %}
			{% if link.url contains 'http' %}
			{% assign domain = '' %}
			{% else %}
			{% assign domain = site.url %}
			{% endif %}
			<li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %} target="_blank" rel="noreferrer" {% endif %}>{{ link.title }}</a></li>
			{% endfor %}
			<li><a href="#masthead" onclick="$('html,body').animate({scrollTop: $('#masthead').offset().top}, 1000)">Back to Top <i class="fa fa-arrow-up"></i></a></li>
		</ul>
	</nav><!-- /.bottom-menu -->
	<p class="copyright">&#169; {{ site.time | date: '%Y' }} <a href="{{ site.url }}">{{ site.title }}</a> built by <a target="_blank" rel="noreferrer" href="https://jasonswingen.com">Jason Swingen</a></p>
	<!-- <div><a href="#"><li class="totop btn">To Top</li></a></div> -->
</footer>