<div class="grid-items-lines">
  <div class="grid-item">
    <!-- <img src="https://image.flaticon.com/icons/png/512/34/34400.png" alt=""> -->
    {% include subscribe.html %}
  </div>
  <a target="_blank" href="https://www.instagram.com/jasonswingen/" class="grid-item">
    <img src="https://image.flaticon.com/icons/png/512/69/69366.png" alt="">
    <h1>Instagram</h1>
    <p></p>
  </a>
  <a target="_blank" href="https://twitter.com/jasonswingen" class="grid-item">
    <img src="https://image.flaticon.com/icons/png/512/8/8800.png" alt="">
    <h1>Twitter</h1>
    <p></p>
  </a>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>