<div class="page-lead" style="background-image:url(/images/2017-king-salmon.jpg)">
    <div class="wrap page-lead-content">
        <!-- <h1>JS-OUTDOORS</h1> -->
        <!-- <h1>Fish - Hunt - Learn</h1> -->
        <h2>Hunting and Fishing stories written for and by the Midwestern Outdoorsman.</h2>
<!--         <a href="https://www.instagram.com/jasonswingen/" target="_blank" class="btn-accent">Follow on Instagram</a>
        <span><b>- or - </b></span>
        <a href="#subscribe" class="btn">Subscribe</a> -->
    </div>
</div>
