<h3>Share This</h3>
<div class="inline-btn">
	<a class="btn-social twitter" href="https://twitter.com/intent/tweet?text={{ page.title | escape | replace:' ','%20' }}&amp;&url=http:%2F%2Fwww.js-outdoors.com{{ page.url }}&amp;via={{ site.owner.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> {{ site.data.messages.locales[site.locale].share }} Twitter</a>
	<a class="btn-social facebook" href="https://www.facebook.com/sharer/sharer.php?u=http:%2F%2Fwww.js-outdoors.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> {{ site.data.messages.locales[site.locale].share }} Facebook<meta property="og:image" content="http://www.js-outdoors.com/images/JS_OUTDOORS_logo.jpg" /></a>
	<a class="btn-social google-plus"  href="https://plus.google.com/share?url=http:%2F%2Fwww.js-outdoors.com" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i> {{ site.data.messages.locales[site.locale].share }} Google+</a>
</div><!-- /.share-this -->
