<div class="page-lead" style="background-image:url(/images/Youtube_bg.png)">
<div class="wide">
	<div class="wrap youtube">
		<div class="video">
			<iframe src="https://www.youtube.com/embed/0gyM0Tb0Gn4?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="video">
			<iframe src="https://www.youtube.com/embed/eGaw2KF7YIY?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="video mobilehide">
			<iframe src="https://www.youtube.com/embed/6PsDEfIgw0Y?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="video mobilehide">
			<iframe src="https://www.youtube.com/embed/JAT1E0R8dJQ?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
</div>
