/* ==========================================================================
   Helpers and Utility Classes
   ========================================================================== */

.wrap {
  @include outer-container;
}

.come-in {
  @include transform(translateY(20px));
  @include animation(pop 0.5s ease forwards);
}

.already-visible {
  @include transform(translateY(0));
  @include animation(none);
}

/*
   Hide
   ========================================================================== */

.hidden,
.load {
  display: none;
}

/*
   No scrollbars
   ========================================================================== */

.no-scroll {
  overflow: hidden;
}

/*
   Inline button(s) wrapper
   ========================================================================== */

.inline-btn {
  @include clearfix;
  a, btn {
    display: inline-block;
    margin-right: $gutter / 2;
    &:last-child {
      margin-right: 0;
    }
  }
}

/*
   Shorten measure of text to improve readability
   ========================================================================== */

@include media($medium) {
  .shorten {
    width: percentage(8/12);
  }
}

/*
   Center align text
   ========================================================================== */

.center {
  text-align: center;
}

/*
   Align image to the right
   ========================================================================== */

.image-right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-left: $gutter;
  margin-bottom:$gutter;
  @include media($medium) {
    float: right;
    margin-left: $gutter;
    margin-bottom:$gutter;
  }
}

/*
   Thumbnail grid (default)
   ========================================================================== */

.th-grid {
  @include row($direction: LTR);
  @include clearfix;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    @include span-columns(3);
    @include omega(4n);
    margin-bottom: flex-gutter($grid-columns);
  }
  a {
    img {
      // Image hover animation
      &:hover {
        @include animation(pop .3s 0 linear);
        box-shadow: 0 0 10px rgba($black, .20);
      }
    }
  }
}

/*
   Thumbnail grid (oversized)
   ========================================================================== */

.th-grid-full {
  @include clearfix;
  margin: 0;
  padding: 0;
  @include media($large) {
    margin-right: -29em; // magic number ugh
  }
  @at-root {
    .archive-wrap & {
      margin-right: 0;
    }
  }
  li {
    list-style: none;
    margin-bottom: flex-gutter($grid-columns);
    @include media($micro) {
      @include span-columns(3);
      @include omega(4n);
    }
    @media screen and (min-width: em(480)) and (max-width: em(999)) {
      @include span-columns(3);
      @include omega(4n);
    }
    @include media($large) {
      float: left;
      width: 6.575em;
      margin-right: .25em; // magic number ugh
      margin-bottom: .25em; // magic number ugh
      @include omega(9n);
    }
  }
  a {
    img {
      // Image hover animation
      &:hover {
        @include animation(pop .3s 0 linear);
        box-shadow: 0 0 10px rgba($black, .20);
      }
    }
  }
}

.expander {
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  $expander-arrow-width: 0.7em;
  $expander-toggle-size: 1em;
  $expander-toggle-arrow-size: $expander-toggle-size;
  $expander-toggle-margin: 1em;

  width: 60%;

  .expander-trigger {
    border-bottom: 1px solid $light-gray;
    color: $action-color;
    cursor: pointer;
    display: block;
    font-size: $expander-toggle-size;
    margin-bottom: $expander-toggle-size;
    padding-bottom: $expander-toggle-size / 4;
    text-decoration: none;
    user-select: none;

    &::before {
      content: "\25BC";
      font-size: $expander-arrow-width;
      margin-right: 0.5em;
    }
  }

  .expander-content p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  .expander-hidden {
    &::before {
      content: "\25BA";
      font-size: $expander-arrow-width;
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}

.holds-the-iframe {
  background:url(../images/loading.gif) center center no-repeat;
  min-height: 200px;
}

.chart {
  margin: 50px 0px;
}

.smauthorimg {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50px;
  box-shadow: 1px 1px 5px -3px black;
}


.tip-up {
  margin: 50px auto;
  position: relative;
  width: 200px;
  height: 200px;
}
.base {
  position: relative;
  margin: 0 auto;
  top: 100px;
  display: block;
  width: 160px;
  height: 12px;
  border: 4px solid orange;
  border-radius: 2px;
  z-index: 40;
}
.spool {
  position: relative;
  margin: 0 auto;
  top: 30%;
  display: block;
  width: 4px;
  height: 110px;
  background-color: lightgray;
  border-radius: 2px;
  z-index: 0;
}
.spool-top {
  position: absolute;
  left: -9px;
  top: 6px;
  display: block;
  width: 24px;
  height: 4px;
  background-color: lightgray;
  border-radius: 2px;
  z-index: 0;
}
.spool-bottom {
  position: absolute;
  left: -9px;
  top: 94px;
  display: block;
  width: 24px;
  height: 14px;
  background-color: lightgray;
  border-radius: 2px;
  z-index: 0;
}
.flag-pole {
  position: absolute;
  display: block;
  left: -70px;
  bottom: 80px;
  width: 4px;
  height: 100px;
  background-color: lightgray;
  border-radius: 2px;
  z-index: 9999;
}
.flag  {
  position: relative;
  display: block;
  top: 2px;
  left: 4px;
  width: 30px;
  height: 30px;
  background-color: red;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
}
.spin {
  -webkit-animation: rotate .3s infinite alternate;
  -moz-animation:    rotate .3s infinite alternate;
  -o-animation:      rotate .3s infinite alternate;
  animation:         rotate .3s infinite alternate;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes rotate {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-moz-keyframes rotate {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-o-keyframes rotate {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes rotate {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.pop {
  -webkit-animation: turn 2s cubic-bezier(.42,.66,.5,1.35);
  -moz-animation:    turn 2s cubic-bezier(.42,.66,.5,1.35);
  -o-animation:      turn 2s cubic-bezier(.42,.66,.5,1.35);
  animation:         turn 2s cubic-bezier(.42,.66,.5,1.35);
}
@-webkit-keyframes turn {
  0% {
    transform: rotate(74deg);
    transform-origin: 0% 100%;
  }
  50% {
    transform: rotate(76deg);
    transform-origin: 0% 100%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 0% 100%;
  }
}
@-moz-keyframes turn {
  0% {
    transform: rotate(74deg);
    transform-origin: 0% 100%;
  }
  50% {
    transform: rotate(76deg);
    transform-origin: 0% 100%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 0% 100%;
  }
}
@-o-keyframes turn {
  0% {
    transform: rotate(74deg);
    transform-origin: 0% 100%;
  }
  50% {
    transform: rotate(76deg);
    transform-origin: 0% 100%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 0% 100%;
  }
}
@keyframes turn {
  0% {
    transform: rotate(74deg);
    transform-origin: 0% 100%;
  }
  50% {
    transform: rotate(76deg);
    transform-origin: 0% 100%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 0% 100%;
  }
}
