/* ==========================================================================
   Page layout
   ========================================================================== */

/*
   Masthead
   ========================================================================== */

#masthead {
	padding: $gutter;
	z-index: 5;
	@include transform(translate(0,0));
	@include transition(500ms cubic-bezier(.645,.045,.355,1.000));
	&.slide {
		@include transform(translate(-1600px,0));
	}
	.inner-wrap {
		@include outer-container;
	}
}
.site-title {
	@include row;
	@include media($large) {
		@include span-columns(4);
	}
	.site-image {
		float: left;
		width: 230px;
	}
	// padding: (.25 * $masthead-height) 0; // fourth the height to center vertically
	// height: $masthead-height;
	text-decoration: none;
	color: $black;
	font-family: $alt-font;
	font-weight: 700;
	@include font-size(20,no);
	line-height: .5 * $masthead-height; // half the height to center vertically
	text-transform: uppercase;
}


/*
   Menus
   ========================================================================== */

.menu {
	li {
		float: left;
		&:last-child a {
			@include media($medium) {
				margin-right: 0; // remove spacing from last menu link
			}
		}
		a {
			// line hover effect
			position: relative;
			display: block;
			margin-right: $gutter;
			padding: (.25 * $masthead-height) 0 (.25 * $masthead-height) ;
			height: $masthead-height;
			font-family: $alt-font;
			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				height: 2px;
				@include transition(width 0.3s);
			}
			&:before {
				width: 100%;
				background: transparent;
			}
			&:after {
				width: 0;
				background: $accent-color;
			}
			&:active:after,
			&:hover:after {
				width: 100%;
			}
		}
	}
}

/* Top menu navigation */

.top-menu {
	display: none;
	position: relative;
	// @include media($jumbo) {
	// 	@include span-columns(12);
	// }
	@include media($large) {
		@include span-columns(7);
		ul {
			position: absolute;
			right: 0;
		}
	}
	.home,
	.sub-menu-item {
		display: none;
	}
	li {
		a {
			font-weight: 700;
			@include font-size(16,no);
			line-height: .5 * $masthead-height; // half the height to center vertically
			color: $black;
			text-transform: uppercase;
		}
	}
}

/* Bottom menu navigation */

.bottom-menu {
	@include clearfix;
	font-weight: 700;
	a {
		color: #000;
	}
}


/*
   Page wrapper
   ========================================================================== */

#page-wrapper {
	padding: 0 $gutter; // add white space for smaller screens
	@include size(100% 100%);
	-webkit-overflow-scrolling: touch;
	z-index: 2;
	@include transform(translate(0,0));
	@include transition(500ms cubic-bezier(.645,.045,.355,1.000));
	&.slide {
		@include transform(translate(-60rem,0));
	}
}

/*
   Main content
   ========================================================================== */

#main {
	.inner-wrap {
		@include media($medium) {
			@include span-columns(9);
		}
	}
	.page-title {
		@include fill-parent;
	}
	@at-root {
		.page-content {
			@include fill-parent;
			// cleaner underlines for links
			a { text-decoration: none; }
			p a,
			li a {
				border-bottom: 1px dotted lighten($link-color, 50);
				&:hover {
					border-bottom-style: solid;
				}
			}
			p > a.reversefootnote {
				border-bottom-width: 0;
			}
      .toc li > a {
        border-bottom-width: 0;
      }
			.page-footer,
			.pagination {
				@include fill-parent;
			}
			.page-meta {
				p{
					@include font-size(14,no);
					font-family: $alt-font;
					color: lighten($black,60);
				}
			}
		}
	}
	@at-root {
		.archive-wrap {
			@include fill-parent;
			.page-content {
				@include reset-all;
				@include fill-parent;
			}
		}
	}
  /* advertisements */
	.ads {
		position: relative;
		text-align: center;
		margin-top: $gutter;
		margin-left: -$gutter;
		margin-right: -$gutter;
		padding: 10px 0 20px;
		// background: lighten($border-color,5);
		@include media($medium) {
			@include span-columns(3);
			margin-left: 0;
			margin-right: 0;
		}
		&:after {
			content: 'Advertisement';
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			display: block;
			@include font-size(9,no);
			font-family: $alt-font;
		}
		ins {
			border-width: 0;
		}
	}
}
// page lead
.page-lead {
	// @include media($medium) {
	// 	height: 400px;
	// 	background-attachment: fixed;
	// }
	background-position: top;
	background-repeat: no-repeat;
	text-align: center;
	color: $white;
	background-size: cover;
	height: 400px;
	box-shadow: inset 1px 1px 36px -9px #000;
	@include media($medium) {
		height: 500px;
		background-attachment: fixed;
	}
	@include media($large) {
		height: 700px;
		background-attachment: fixed;
	}
}
.blur-image {
	filter: blur(5px);
	}
.page-lead-content {
	height: 100%;
	padding: 1em;
	text-decoration: none;
	@include media($medium) {
		padding: 2em;
	}
	@include media($large) {
		padding: 3em;
	}
	h1 {
		text-shadow: 1px 2px 5px rgba(0,0,0,0.5);
		text-align: center;
		@include media($micro) {
			// padding-top: 70px;
			font-size: 1.8em;
			// width: 521px;
		}
		@include media($medium) {
			// padding-top: 70px;
			font-size: 2em;
			// width: 521px;
		}
		@include media($large) {
			// padding-top: 70px;
			font-size: 3.7em;
			// width: 600px;
		}
	}
	.page-lead-title {
		@include media($micro) {
			font-size: 1em;
		}
		@include media($small) {
			font-size: 1.4em;
			max-width: 600px;
			padding: 26px;
		}
		// opacity: 0.8;
		// padding-left: 1.5em;
		position: relative;
		// background-color: #fff;
		// color: #000;
		// box-shadow: 16px 16px 65px -33px #000;
	    // left: -48px;
	    // max-width: 400px;
	    // padding: 6px 30px;
	    top: 4px;
		// font-size: 1.4em;
    // transform: skewY(3deg);
		h1 {
			opacity: 1;
		    // padding: 0px 20px;
			text-decoration: none !important;
			@include font-size(24);
			line-height: 1.4;
			// text-shadow: 0px 2px 3px #000;
			@include media($small) {
				@include font-size(28);
			}
			@include media($medium) {
				@include font-size(38);
			}
			@include media($large) {
				@include font-size(48);
				line-height: 1.4;
			}
		}
		h2 {
			color: $main-color;
			@include font-size(20);
			text-shadow: 0px 1px 3px #000;
			line-height: 1.5;
			@include media($medium) {
				@include font-size(24);
				line-height: 1.5;
			}
			@include media($large) {
				@include font-size(32);
				line-height: 1.5;
			}
		}
		p {
			font-size: 0.7em;
			@include media($large) {
				font-size: 1em;
			}
		}
	}

	.highlight {
		color: $accent-color;
	}
	.page-lead-exerpt {
		position: absolute;
		background-color: white;
		color: black;
	}
}
// page header
.page-feature {
	@include fill-parent;
	// expand image to cover full width of header
	img {
		width: 100%;
	}
}
// make image flush with edges on small screens
.page-image {
	position: relative;
	margin-left: -1 * $gutter;
	margin-right: -1 * $gutter;
	// feature image caption
	.image-credit {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0 auto;
		padding: 10px 15px;
		background-color: rgba($black,.5);
		color: $white;
		font-family: $alt-font;
		@include font-size(12,no);
		text-align: right;
		z-index: 10;
		a {
			color: $white;
			text-decoration: none;
		}
	}
}
.section {
	margin: 50px 0;
}

.fullwidth {
	width: 100%;
	background: gray;
	clear: both;
	.left {
		float: left;
	}
	.right {
		float: right;
		img {
			max-width: 300px;
		}
	}
}

.center {
		text-align: center;
}

.wide {
	width: 100%;
	clear: both;
	.text {
		margin-bottom: 20px;
	}
	.left {
		padding: 20px;
		float: left;
		width: 50%;
		img {
			// transform: skew(3deg);
			border-radius: 5px;
			margin: 5px;
			width: 40%;
			float: left;
		}
	}
	.right {
		padding: 20px;
		float: right;
		width: 50%;
		img {
			// transform: skew(3deg);
			border-radius: 5px;
			margin: 5px;
			width:40%;
			float: right;
		}
	}
}

.centerpost {
	@include media($large) {
	    background: #fff;
	    margin-top: -100px;
	    padding: 30px;
	    border-radius: 4px;
	    box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.3);
	    float: left;
	    width: 75%;
		.breadcrumbs {
			margin-top: 0px;
			padding-top: 0px;
		}
	}
}

.centerpage {
	@include media($large) {
	    background: #fff;
	    margin-top: -166px;
	    padding: 30px;
	    border-radius: 4px;
	    box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.3);
	}
}

.snapwidget-widget {
	// max-width: 40%;
  // position: absolute;
  // right: 26px;
  // margin: 20px;
  // overflow: hidden;
  // max-height: $snap-widget-height;
  // float: left;
}

.banner {
	margin-top: 3em;
	// border-bottom: 1px solid $body-color;
	font-family: sans-serif;
	.buttons {
		@include media($small) {
			max-width: 100%;
		}
	}
}

/*
   Page footer
   ========================================================================== */

.page-footer {
	position: relative;
}

/* Author block */

.author-image {
	position: absolute;
	left: 0;
	img {
		width: 80px;
		height: 80px;
		border-radius: $border-radius;
	}
}
.author-content {
	word-wrap: break-word;
	padding-left: 100px; //avatar width + 20px padding
	min-height: 80px; //mirrors avatar height
}
.author-name {
	@include font-size(20,no);
}
.author-bio {
	margin-top: 0;
	@include font-size(16);
}

/*
   Site footer
   ========================================================================== */

#site-footer {
	@include outer-container;
	margin-top: (3 * (0px + $doc-line-height));
	margin-top: (3 * (0rem + ($doc-line-height / $doc-font-size)));
	padding: $gutter; // add white space for smaller screens
	font-family: $alt-font;
  /* Copyright text */
	.copyright {
		@include font-size(12);
		color: lighten(#000,20);
		a {
			color: lighten(#000,20);
			text-decoration: underline dotted gray;
		}
	}
}

//Post Styles

.rightsidebar {
	display: none;
	@include media($large) {
		display: inline;
		float: right;
		width: 23%;
		position: sticky;
		top: -50px;
	}
	.sidebar-text {
		a {
			color: #fff;
		    position: absolute;
		    margin-top: -157px;
		    margin-left: 5px;
		    text-shadow: 1px 1px 10px black;
		    text-decoration: none;
		}
	}
}

.imgright {
	@include media($large) {
	float:right;
	width: 450px;
	margin: 0px;
	padding-left: 20px;
	}
	img {
		@include media($large) {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		}
	}
}

hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 0px solid #ccc;
    margin: 0em 0;
    padding: 0;
}


.clearfix {
	clear:both;
  overflow: auto;
}

.page-meta {
	color: gray;
    font-size: 0.8em;
}

.fb {
	margin: 20px -7px
}

.tag {
	font-size: 0.7em;
}

.PageNavigation {
	bottom: 10px;
	height: $gutter;
	@include media($medium) {
		clear: both;
		width: 100%;
		height: 0px;
		margin-bottom: 20px;
		position: relative;
		bottom: 70px;
	}
}

.prev, .next {
	padding: 10px;
	margin: 10px 0px 0px;
	text-decoration: none;
	color: white;
}

.prev {
	float: right;
}

.next {
	float: left;
}

.youtube-lead {
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
	color: $white;
	background-size: cover;
	box-shadow: inset 1px 1px 36px -9px #000;
	@include media($large) {
		height: 600px;
		background-attachment: fixed;
	}
	.lead-text {
		opacity: 0.8;
		padding: 1.5em;
		background-color: #fff;
		color: #000;
		box-shadow: 16px 16px 65px -33px #000;
		font-size: 1.4em;

	    padding: 40px;
	    margin-top: 20px;


		width: 100%;
		h1 {

		}
		p {

		}
	}
	.youtube {
		width: 100%;
		padding: 0em;
		@include media($large) {
			padding: 6em 2em;
			max-width: 800px;
		    margin: 0 auto;
		}
		@include media($small) {
			padding: 6em 2em;
		}
		.video {
			padding: 10px;
			float: none;
			@include media($large) {
			    float: right;
			    width: 360px;
			    margin-bottom: 30px;
			}
		}
	}
}
