/* ==========================================================================
   Notices
   ========================================================================== */

/*
   Default notice .notice
   ========================================================================== */

@mixin notice($notice-color) {
	position: relative;
	padding: 1.5em;
	font-family: $alt-font;
	@include font-size(14,39);
	color: $white;
	background-color: $notice-color;
	border-radius: $border-radius;
	a {
		color: $white;
		border-bottom: 1px dotted $white;
	}
}
.notice {
	@include notice($primary-color);
	box-shadow: inset 0px 0px 20px -5px grey;
}

/*
   Inverse notice .notice-inverse
   ========================================================================== */

.notice-inverse {
	@include notice($white);
	color: $text-color;
	a {
		color: $text-color;
	}
}

/*
   Info notice .notice-info
   ========================================================================== */

.notice-info {
	@include notice($info-color);
}

/*
   Disclosure notice .notice-disclusure
   ========================================================================== */

.notice-disclosure {
	@include notice(#a5bdce);
}


.notice-default {
	@include notice(#a9a9a9);
	box-shadow: inset 0px 0px 20px -6px grey;
}
/*
   Warning notice .notice-warning
   ========================================================================== */

.notice-warning {
	@include notice($warning-color);
}

/*
   Success notice .notice-success
   ========================================================================== */

.notice-success {
	@include notice($success-color);
}

/*
   Danger notice .notice-danger
   ========================================================================== */

.notice-danger {
	@include notice($danger-color);
}

/*
   Accent notice .notice-accent
   ========================================================================== */

.notice-accent {
	@include notice($accent-color);
}

/*
   Protip notice .notice-protip
   ========================================================================== */

.notice-protip {
	@include notice(#a9a9a9);
	box-shadow: inset 0px 0px 20px -6px grey;
	:before {
		content: "PRO TIP: ";
		font-weight: bold;
		color:$accent-color;
		text-shadow: 1px 1px 1px #3e3e3e;
		letter-spacing: 1.1px;
		font-size: 1.2em;
	}
	.tip {
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1.1px;
	}
}

/*
   Browser upgrade notice
   ========================================================================== */

.upgrade {
  text-align: center;
  a {
    text-decoration: none;
  }
}
