.feature {
  position: relative;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(37,36,34,0)),to(rgba(37,36,34,.8)));
  background: gradient(linear,left top,left bottom,from(rgba(37,36,34,0)),to(rgba(37,36,34,.8)));
  .image {
    position: relative;
    }
  .title {
    position: absolute;
    bottom: 4px;
    left: 22px;
    color: white;
    text-transform: uppercase;
  }
}
