/* ==========================================================================
   Tiles
   ========================================================================== */

.tile {
  @include outer-container;
  // margin-bottom: $gutter;
  // padding: 12px;
  // transition: .3s;
  @include media($micro) {
    @include fill-parent;
  }
  @include media(new-breakpoint(min-width em(480) 12)) {
    @include span-columns(3);
    @include omega(4n);
  }
  .entry-date {
    @include font-size(16,no);
    color: lighten($text-color,25);
  }
  .post-title {
    @include font-size(18,no);
    a {
      color: #313130;
    }
  }
  .post-excerpt {
    @include font-size(16);
  }
  &:hover {
    // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    // transition: .3s;
  }
  .post-teaser {
    position: relative;
    display: block;
    box-shadow: 2px 2px 5px -3px #808080;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($base-color,0);
      pointer-events: none;
      @include transition(background 0.3s);
    }
    &:hover {
      &:after {
        // background: rgba($base-color,0.1);
      }
    }
  }
}
