---
layout: default
---
<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">

		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}

		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		<div class="">


			{% if page.author %}
			{% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
			{% endif %}
			<div class="page-meta"><img class="smauthorimg" src="{{ site.url }}/images/{{ author.avatar }}" alt="{{ author.name }}">Written by Jason Swingen, {% include page-meta.html %}</div>

			{{ content }}

		</div>
	</article>

	<div class="mobileonly">{% include related-posts.html %}</div>

</div><!-- /#main -->